body{
    background-color: rgb(40, 40, 40);
    margin: 0;
    height: 100%;
}

.main{
    margin: 13px;
    size: 100%;
    color: white;
    font-size: 50px;
    align-items: center;
    justify-items: center;
}

.title{
    color: rgb(0, 255, 255);
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.lines{
    color: white;
    width: 100%;
    /* height: 100vh; */
}

.btn{
    justify-content: center;
    align-items: center;
    border-width:1px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(199, 251, 255);
    color: inherit;
    transition: all 0.5s ease;
    padding: 10px;
}
.btn:hover{
    border-radius: 9px;
    background-color: hsl(184, 100%, 73%);
    color: hsl(229, 100%, 46%);
}
/* .upcoming{
    overflow-y: visible;
    font-size: 50px;
}

.past{
    overflow-y: visible;
    font-size: 50px;
}

.left{
    margin-left: 45px;
    margin: 30px;
}

.right{
    margin-right: 45px;
    margin: 30px;
} */

.vertical-line {
    position: absolute;
    left: 50%;
    height: 100vh;
    width: 2px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 200vh;
    padding: 0 20px;
}

.left-box, .right-box{
    overflow-y: scroll;
    width: 90%;
    /*height: 80%;*/
    height: 45%;
    background-color: rgb(88, 157, 255);
    padding: 5px;
    /*min-height: 150px;*/
    margin: 25px;
    border-radius: 20px;
    justify-self: center;
    border-color: rgb(0, 8, 118);
    border-width: 3px;
}

.left-half, .right-half {
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.list1, .list2{
    color: black;
    font-size: 25px;
    justify-content: left;
    margin: 20px;
    font-size: 20px;
}

.list1 > p, .list2 > p{
    margin: 10px;
}

.lines{
    color: white;
}
