
.head {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    font-size: 17px;
}

.nav-head a {
    text-decoration: none;
    color: #c6d8de;
    margin-right: 20px;
}

.nav-head a:hover {
    color: #15799b;
}
