.head {
    position: fixed;
    top: 0;
    background-color: rgb(208, 255, 253);
    border-bottom: 5px solid rgb(77, 106, 255);
    padding: 5px;
    width: 100%;
    margin:0;
    align-items: center;
    display: flex;
}

.logo{
    margin: 10px;
    margin-left: 13px;
    height: 70px;
    width: 70px;
    transition: all 0.5s ease;
}

.logo:hover{
    margin: 5px;
    margin-left: 8px;
    height: 80px;
    box-shadow: 2px 2px 5px rgb(77, 106, 255);
    width: 80px;
}

.headText{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color: black;
}

.headText > p{
    margin: 20px;
}

.headText a {
    color: inherit;
    transition: all 0.5s ease;
    padding: 10px;
}

.headText a:hover {
    border-radius: 9px;
    background-color: hsl(184, 100%, 73%);
    color: hsl(229, 100%, 46%);
}

.headTextContent {
    display: flex;
    width: 90%;
    justify-content: right;
}

.webname{
    display: flex;
    align-items: center;
    width: 90%;
}
