.head {
    background-color: rgb(208, 255, 253);
    border-bottom: 5px solid rgb(77, 106, 255);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;
}

.logo{
    margin: 12px;
    height: 80px;
    width: 80px;
}

.headText{
    display: flex;
    margin: 10px;
    font-size: 25px;
}

.headText > p{
    margin: 20px;
}

.headText a {
    color: inherit;
    transition: all 0.5s ease;
    padding: 10px;
}

.headText a:hover {
    border-radius: 8px;
    background-color: hsl(184, 100%, 73%);
    color: hsl(229, 100%, 46%);
}

.headTextContent {
    display: flex;
    width: 1100px;
    justify-content: right;
}

.webname{
    display: flex;
    align-items: center;
    width: 800px;
}

.main a {
    color: inherit;
    transition: all 0.5s ease;
    padding: 13px;
}

.main a:hover {
    border-radius: 10px;
    background-color: hsl(184, 100%, 73%);
    color: hsl(229, 100%, 46%);
}