body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #c6d8de;
    background: linear-gradient(to bottom, #15799b 0px, #10161f 37%, #10161f 100%);
    text-align: center;
}

.head {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px;
    font-size: 17px;
}

.nav-head p {
    text-decoration: none;
    color: #c6d8de;
}

.nav-head p:hover {
    color: #15799b;
}
