.head {
    background-color: rgb(255, 230, 197);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 20px;
    align-items: center;
    display: flex;
}

.logo{
    margin: 12px;
    height: 80px;
    width: 80px;
}

.headText{
    display: flex;
    margin: 10px;
    font-size: 20px;
}

.headText > p{
    margin: 20px;
}

.headTextContent {
    display: flex;
    width: 1100px;
    justify-content: right;
}

.webname{
    display: flex;
    align-items: center;
    width: 800px;
}