.hero {
    margin-top: 33px;
    color: #c6d8de;
    text-align: center;
}

.logo img {
    width: clamp(200px, 20%, 400px);
    height: auto;
    display: block;
    margin: 0 auto;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    0%, 50% { border-color: white; }
    100% { border-color: transparent; }
}

.typing {
    font-size: 45px;
    font-weight: 700;
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 4s steps(26, end), blink 0.33s step-end infinite;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.text-reveal-container {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.aurora-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.aurora-text {
    font-size: clamp(1.5rem, 2.5vw, 2.69rem);
    font-weight: bold;
    color: #fff;
    text-shadow:
        0 5px 10px rgba(0, 0, 0, 0.325),
        0 0 15px rgba(255, 255, 255, 0.5),
        -10px 0 40px rgba(255, 0, 255, 0.5),
        10px 0 20px rgba(0, 255, 255, 0.75),
        10px 0 40px rgba(108, 194, 74, 1);
    animation: pulsate 7s linear infinite;
    transition: all 0.2s ease-in-out;
    will-change: text-shadow, transform;
}

.aurora-text:hover {
    animation: pulsateLarger 5s linear infinite;
    transform: scale(1.025);
}

@keyframes pulsate {
    0% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 20px rgba(0, 255, 255, 0.75),
            10px 0 40px rgba(108, 194, 74, 1);
    }
    33% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 40px rgba(0, 255, 255, 0.75),
            0 15px 50px rgba(108, 194, 74, 1);
    }
    66% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            0 10px 40px rgba(0, 255, 255, 0.75),
            0 -5px 70px rgba(108, 194, 74, 1);
    }
    100% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 20px rgba(0, 255, 255, 0.75),
            10px 0 40px rgba(108, 194, 74, 1);
    }
}

@keyframes pulsateLarger {
    0% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 25px rgba(0, 255, 255, 0.75),
            15px 0 50px rgba(108, 194, 74, 1);
    }
    33% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 50px rgba(0, 255, 255, 0.75),
            0 20px 60px rgba(108, 194, 74, 1);
    }
    66% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            0 15px 50px rgba(0, 255, 255, 0.75),
            0 -10px 80px rgba(108, 194, 74, 1);
    }
    100% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 25px rgba(0, 255, 255, 0.75),
            15px 0 50px rgba(108, 194, 74, 1);
    }
}
