.hero {
    margin-top: 33px;
    color: #c6d8de;
    text-align: center;
}

.logo img {
    width: clamp(200px, 20%, 400px);
    height: auto;
    display: block;
    margin: 0 auto;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    0%, 50% { border-color: white; }
    100% { border-color: transparent; }
}

.typing {
    font-size: 45px;
    font-weight: 700;
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 4s steps(12, end), blink 0.5s step-end infinite;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-button {
    background-color: #4A5364;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
    background-color: #5B6478;
    transform: scale(1.05);
}
