body {
    background: rgb(0,0,0);
    margin: 0;
    height: 100vh;
} 

.main{
    margin: 0px;
    size: 100%;
    color: white;
    font-size: 50px;    
    align-items: center;
    justify-items: center;
}

.box{
    width: 120vh;
    height: 55vh;
    border-width: 3px;
    border-radius: 15px;
    border-color: blue;
    background-color: black;
    margin-bottom: 50px;
    align-items: center;
    justify-items: center;
    overflow-y: scroll;
    margin-top: 10px;
}
::-webkit-scrollbar {
    width: 0px;
}

.problem {
    width: 113.5vh;
    display: flex;
    height: auto;
    border-width: 3px;
    border-radius: 10px;
    border-color: blue;
    margin-bottom: 50px;
    color: white;
    transition: all 0.5s ease;
    margin: 1.7vh;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.problemname{
    color: rgb(110, 255, 255);
}

.problemlist{
    display: flex;
}

.problem:hover{
    border-radius: 15px;
    border-color: #00ff76;
    /* background-color:#2090ff; */
    /* color: black; */
}

.list{
    margin: 5px;
    size: 100%;
    color: white;
    font-size: 20px;    
    align-items: center;
    justify-content: center;
}

.no-problems {
    display: flex;
    height: 100vh;
    font-size: 20px;
    color: white;
    text-align: center;
}

.listheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 530px;
    border-color: rgb(164, 164, 164);
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(98, 98, 98);
    border-radius: 10px;
    width: 120vh;
}

.problemstitle{
    padding: -10px;
}

.titleproblemwow {
    left: 10px;
}

.problemcontest {
    margin-right: 4.5vh;
}

.aurora-container {
    display: flex = 1;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.aurora-text2 {
    font-size: clamp(1.5rem, 2.5vw, 2.69rem);
    font-weight: bold;
    color: #fff;
    text-shadow:
        0 5px 10px rgba(0, 0, 0, 0.325),
        0 0 15px rgba(255, 255, 255, 0.5),
        -10px 0 40px rgba(255, 0, 255, 0.5),
        10px 0 20px rgba(0, 255, 255, 0.75),
        10px 0 40px rgba(108, 194, 74, 1);
    animation: pulsate2 7s linear infinite;
    transition: all 0.2s ease-in-out;
    will-change: text-shadow, transform;
}

.aurora-text2:hover {
    animation: pulsateLarger2 5s linear infinite;
    transform: scale(1.025);
}

@keyframes pulsate2 {
    0% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 20px rgba(0, 255, 255, 0.75),
            10px 0 40px rgba(108, 194, 74, 1);
    }
    33% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 40px rgba(0, 255, 255, 0.75),
            0 15px 50px rgba(108, 194, 74, 1);
    }
    66% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            0 10px 40px rgba(0, 255, 255, 0.75),
            0 -5px 70px rgba(108, 194, 74, 1);
    }
    100% {
        text-shadow:
            0 5px 10px rgba(0, 0, 0, 0.325),
            0 0 15px rgba(255, 255, 255, 0.5),
            10px 0 20px rgba(0, 255, 255, 0.75),
            10px 0 40px rgba(108, 194, 74, 1);
    }
}

@keyframes pulsateLarger2 {
    0% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 25px rgba(0, 255, 255, 0.75),
            15px 0 50px rgba(108, 194, 74, 1);
    }
    33% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 50px rgba(0, 255, 255, 0.75),
            0 20px 60px rgba(108, 194, 74, 1);
    }
    66% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            0 15px 50px rgba(0, 255, 255, 0.75),
            0 -10px 80px rgba(108, 194, 74, 1);
    }
    100% {
        text-shadow:
            0 5px 15px rgba(0, 0, 0, 0.325),
            0 0 20px rgba(255, 255, 255, 0.5),
            15px 0 25px rgba(0, 255, 255, 0.75),
            15px 0 50px rgba(108, 194, 74, 1);
    }
}