.main {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pdffile {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.submit {
    margin-right: 10%;
    transition: 0.5s;
    border: 40px;
    border-radius: 20px;
    background-color: rgb(0,0,0);
    background-size: 40px;
}

.submit:hover {
    border: 40px;
    border-radius: 20px;
    background-color: rgb(0, 29, 174);
    background-size: 40px;
}