.main {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pdffile {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
}

.submit {
    margin-right: 10%;
    transition: 0.5s;
}

.submit:hover {
    border: 40px;
    border-radius: 20px;
    background-color: grey;
}